In [1]:
import os, sys, glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

sys.path.append('../')

In [10]:
# load X_test, y_test
X_test = pd.read_csv('../data/maize_data_2014-2023_vs_2024/X_test.csv')
y_test = pd.read_csv('../data/maize_data_2014-2023_vs_2024/y_test.csv')
X_test.shape, y_test.shape

((9486, 2602), (9486, 4))

In [11]:
# drop Env, Hybrid combinations that don't occur in both X_test and y_test
X_test = X_test.merge(y_test[['Env', 'Hybrid']].drop_duplicates(), on=['Env', 'Hybrid'], how='inner')
y_test = y_test.merge(X_test[['Env', 'Hybrid']].drop_duplicates(), on=['Env', 'Hybrid'], how='inner')
X_test.shape, y_test.shape

((9486, 2602), (9486, 4))

In [12]:
# make sure rows of X_test and y_test are aligned along Env, Hybrid
X_test = X_test.sort_values(['Env', 'Hybrid']).reset_index(drop=True)
y_test = y_test.sort_values(['Env', 'Hybrid']).reset_index(drop=True)
print(X_test.shape, y_test.shape)
(X_test['Env'] == y_test['Env']).all()

(9486, 2602) (9486, 4)

True

In [13]:
# check which X, y cols have missing values. Don't print values < 1
print(X_test.isnull().sum()[X_test.isnull().sum() > 0])
print(y_test.isnull().sum()[y_test.isnull().sum() > 0])

Yield_Mg_ha    9486
dtype: int64
Series([], dtype: int64)

In [ ]:
X_test.head()

,INDEX,Env,Hybrid,Yield_Mg_ha,S1_1007742,S1_1020677,S1_2018002,S1_2275970,S1_2800964,S1_2811950,...,SWmm_pFlaFlw_5,SWmm_pEnGMat_8,SWmm_pEmeEnJ_9,SWmm_pEmeEnJ_10,SWmm_pEnGMat_10,LL__1,LL__4,LL__6,LL__7,LL__8
0,0,DEH1_2024,01CSI6/LH287,NaN,0.5,1.0,1.0,1.0,1.0,1.0,...,0.114556,0.266661,0.270514,0.390527,0.390527,0.030565,0.030269,0.069334,0.179364,0.179364
1,1,DEH1_2024,01DIB2/LH287,NaN,1.0,1.0,1.0,1.0,0.5,0.5,...,0.114556,0.266661,0.270514,0.390527,0.390527,0.030565,0.030269,0.069334,0.179364,0.179364
2,2,DEH1_2024,01DIB2/PHP02,NaN,1.0,0.5,0.5,1.0,0.0,0.0,...,0.114556,0.266661,0.270514,0.390527,0.390527,0.030565,0.030269,0.069334,0.179364,0.179364
3,3,DEH1_2024,2369/LH123HT,NaN,0.5,0.5,1.0,0.5,1.0,1.0,...,0.114556,0.266661,0.270514,0.390527,0.390527,0.030565,0.030269,0.069334,0.179364,0.179364
4,4,DEH1_2024,2FACC/PHP02,NaN,1.0,0.5,0.5,1.0,0.0,0.0,...,0.114556,0.266661,0.270514,0.390527,0.390527,0.030565,0.030269,0.069334,0.179364,0.179364

In [8]:
# save X_test, y_test
X_test.to_csv('../data/maize_data_2014-2023_vs_2024/X_test.csv', index=False)
y_test.to_csv('../data/maize_data_2014-2023_vs_2024/y_test.csv', index=False)